.hero2{
    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
}

.hero__inner2{
    padding-bottom: 150px;
    margin-left: 750px;
    padding-top: 250px;
}

.hero2__img{
    position: absolute;
    top: 837px;
    left: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hero__title2{
    width: 383.41px;
    height: 100px; 
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.hero__paragraph2{
    width: 400.88px;
    height: 60px;  
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.hero-item{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.ticks__img{
    padding-right: 5px;
}
