.footer{
    display: flex;
}

.footer__paragraph{
    width: 132px;
    height: 30px;
    font-size: 1rem;
    line-height: 1.875rem;
    text-align: center;
    color: #AFB5C0;
    padding-top: 180px;
    margin-left: 150px;
}

.footer__container{
    padding-top: 173px;
    margin-left: 350px;
}

.footer__img2{
    width: 35px;
    height: 36.23px;
    padding-top: 171px;
    margin-left: 300px;
}

.footer__title{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #0B132A;
    padding-top: 176.5px;
    margin-left: 10px;
}